
.allContainer{
  background-color: white;
  color: white;
  width: 97%;
  height: 755px;
  margin: -18px 2%;
}
.tableDiv{
  height: 75%;
}
.container {
    display: flex;
    align-items: center;
    margin-bottom: 100x;
    background-color: white;
    margin-top: 40px;
    margin-left: 30px;
    /* margin-top: 20px; */
    padding-top: 20px;
    width: 800px;
    font-size: 12px;
  }

.data-choose{
    color: black;
    font-size: 14px;

}
.viewData{
    color: black;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;

}
.paginationDiv{
  margin-left: 53%;
  margin-top: 16%;
}

  input[type='date'] {
    display: inline-block;
    width: 180px;
    height: 32px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
.titleColor{
    background-color: #ccc;
}
  .search-btn {
    display: inline-block;
    width: 60px;
    height: 32px;
    margin-left: 50px;
    border: none;
    border-radius: 4px;
    background-color: #1890ff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .addButton{
    display: inline-block;
    width: 100px;
    height: 32px;
    margin-left: 30px;
    margin-top: 45px;
    border: none;
    border-radius: 4px;
    background-color: #1890ff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }


  .reset-btn {
    display: inline-block;
    width: 60px;
    height: 32px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
  }
  .addFormcss{
    width: 800px;
    height: 500px;
  }
