<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.weekly.mapper.UserMapper">

    <sql id = "insertFields">
        id, username, password
    </sql>

    <sql id = "selectFields">
        id, username, password
    </sql>

    <insert id="insertUser" parameterType="com.hello.weekly.pojo.User">
        insert into weekly_report.user (<include refid="insertFields"/>)
        values (#{id}, #{username}, #{password}
    </insert>

    <select id="findByUsername" resultType="com.hello.weekly.pojo.User">
        select * from weekly_report.user where username = #{username}
    </select>
</mapper>